<div class="container">
	<% if user_signed_in? || recruiter_signed_in? %>
	<% else %>
		<div class="row">
			<div class="col-md-6 user">
				<div class="home card card-block">
				  <h4 class="card-title">Recruteur?</h4>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <%= link_to "se connecter en tant que recruteur", new_recruiter_session_path %>
				</div>
			</div>

			<div class="col-md-6 recruiter">
				<div class="home card card-block">
				  <h4 class="card-title">Candidat?</h4>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <%= link_to "se connecter en tant que candidat", new_user_session_path %>
				</div>
			</div>
		</div>
	<% end %>
</div>