<div class="container">
	<div class="row">
    <div class="col-md-6">
				<%= form_tag searchs_path, :method => 'get', html: { id: "search-form"} do |f|%>
          <div id="custom-search-input">
            <div class="input-group col-md-12">
              <%= text_field_tag :q, nil, :placeholder => 'Search jobs by tags', class: "form-control input-lg" %>
              <span class="input-group-btn">
                 <%= button_tag(type: "submit", class: "btn btn-default") do %>
                    search 
                  <% end %>
              </span>
            </div>
          </div>
        <% end %>
    </div>
	</div>
</div>